<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/sidebar.css">
    <link rel="stylesheet" href="../style/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
    <title>Nails - Dashboard</title>
</head>
<body>
    <div id="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <div class="logo">
                    <img src="../img/logo.png" alt="">
                </div>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/2329/2329087.svg" alt="">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="./calendar.php">
                            <img src="https://image.flaticon.com/icons/svg/2933/2933758.svg" alt="">
                            Agendamento
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/2910/2910756.svg" alt="">
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/3102/3102285.svg" alt="">
                            Finanças
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/3039/3039564.svg" alt="">
                            Mensagem
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/929/929577.svg" alt="">
                            Configuração
                        </a>
                    </li>
                </ul>
            </div>

            <div id="social">
                <ul>
                    <li>
                        <a href=""><img src="https://image.flaticon.com/icons/svg/1384/1384005.svg" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href=""><img src="https://image.flaticon.com/icons/png/512/1384/1384015.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main>
            <header>
               <div class="menu-bar">
                    <a href="">
                        <img src="https://image.flaticon.com/icons/svg/1828/1828859.svg" alt="">
                    </a>
                </div>
                <div class="menu-profile">
                   <a href="">
                        <img src="https://image.flaticon.com/icons/svg/2948/2948035.svg" alt="">
                    </a>
                </div>
                
            </header>
    
            <div class="main-content"></div>
               
            </div>
        </main>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>