<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/sidebar.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/perfil.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
    <title>Nails - Dashboard</title>
</head>
<body>
    <div id="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <div class="logo">
                    <img src="../img/logo.png" alt="">
                </div>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/2329/2329087.svg" alt="">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="./calendar.php">
                            <img src="https://image.flaticon.com/icons/svg/2933/2933758.svg" alt="">
                            Agendamento
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/2910/2910756.svg" alt="">
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/3102/3102285.svg" alt="">
                            Finanças
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/3039/3039564.svg" alt="">
                            Mensagem
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://image.flaticon.com/icons/svg/929/929577.svg" alt="">
                            Configuração
                        </a>
                    </li>
                </ul>
            </div>

            <div id="social">
                <ul>
                    <li>
                        <a href=""><img src="https://image.flaticon.com/icons/svg/1384/1384005.svg" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href=""><img src="https://image.flaticon.com/icons/png/512/1384/1384015.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </sidebar>
    
        <main>
            <header>
                <div class="menu-bar">
                    <a href="">
                        <img src="https://image.flaticon.com/icons/svg/1828/1828859.svg" alt="">
                    </a>
                </div>
                <div class="menu-profile">
                    <a href="">
                        <img src="https://image.flaticon.com/icons/svg/2948/2948035.svg" alt="">
                    </a>
                </div>
                
            </header>                
 
            <div class="main-content">                  
                <div id="perfil-parent">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/img-1.jpeg" alt="">
                        </div>

                        <div id="perfil-form">
                            <form action="">
            
                                <fieldset>
            
                                    <div class="field-group">
                                        <div class="field">
                                            <label for="first-name">Primeiro Nome *</label>
                                            <input type="text" name="first-name">
                                        </div>
                                        <div class="field">
                                            <label for="last-name">Último Nome *</label>
                                            <input type="text" name="last-name">
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <div class="field">
                                            <label for="phone">Telemóvel *</label>
                                            <input type="text" name="phone">
                                        </div>

                                        <div class="field">
                                            <label for="date-birth">Data de Nascimento *</label>
                                                <div class="container ">
                                                    <div style="max-width:300px">
                                                        <div class="panel-body">
                                                            <form id="js-form">
                                                                <input id="dobUk" name="dobUk" class="form-control input-lg js-date--west" type="text" placeholder=" 01 / 05 / 1990  ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    <div class="field">
                                        <label for="address">Morada *</label>
                                        <input type="text" name="address">
                                    </div>

                                    <div class="field">
                                        <label for="phone">Profissão</label>
                                        <input type="text" name="phone">
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>
                                        <h2>Serviço de Prefêrencia: *</h2>
                                    </legend>                        
            
                                    <div class="items-grid">
                                        <li data-id="1">
                                            <img src="https://image.flaticon.com/icons/svg/599/599752.svg" alt="Manicure">
                                            <span>Unhas</span>
                                        </li>
                                        <li data-id="2">
                                            <img src="https://image.flaticon.com/icons/svg/1997/1997087.svg" alt="Pedicure">
                                            <span>Pedicure</span>
                                        </li>
                                        <li data-id="3">
                                            <img src="https://image.flaticon.com/icons/svg/2228/2228125.svg" alt="Brushing">
                                            <span>Brushing</span>
                                        </li>
                                        <li data-id="4"> 
                                            <img src="https://image.flaticon.com/icons/svg/775/775404.svg" alt="Coloração">
                                            <span>Coloração</span>
                                        </li>
                                        <li data-id="5">
                                            <img src="https://image.flaticon.com/icons/svg/2025/2025275.svg  " alt="Madeixas">
                                            <span>Madeixas</span>
                                        </li>
                                        <li data-id="6">
                                            <img src="https://image.flaticon.com/icons/svg/2025/2025279.svg" alt="Corte">
                                            <span>Corte</span>
                                        </li>
                                        <li data-id="7">
                                            <img src="https://image.flaticon.com/icons/svg/2025/2025335.svg" alt="Limpeza de pele">
                                            <span>Limpeza de pele</span>
                                        </li>
                                        <li data-id="8">
                                            <img src="https://image.flaticon.com/icons/svg/2025/2025238.svg" alt="Massagem">
                                            <span>Massagem</span>
                                        </li>
                                        <li data-id="8">
                                            <img src="https://image.flaticon.com/icons/svg/2025/2025243.svg" alt="Depilação">
                                            <span>Depilação</span>
                                        </li>
                                       
                                    </div>
            
                                    <input type="hidden" name="items">
                                </fieldset>
            
                                <button type="submit">
                                     Salvar
                                </button>
                        </div>
                    </div>
                </div>

                        
            </div>
        </main>
    </div>  

    <script src="../script/fiel-birth.js"></script>
    <script src="../script/perfil-services.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>