<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

        <title>X-Belezas</title>
    </head>
    <body>
        <div id="page-login">

            <form action="">

                <h1>LOGO</h1>
                <legend>Bem vindo de volta. Faça sua conta!</legend>


                <fieldset>
                    <div class="field">
                        <label for="name">Nome</label>
                        <input type="text" name="name">
                    </div>

                    <div class="field">
                        <label for="name">E-mail</label>
                        <input type="text" name="email">
                    </div>

                    <div class="field">
                        <label for="name">Telefone</label>
                        <input type="text" name="telefone">
                    </div>

                    <div class="field">
                        <label for="name">Senha</label>
                        <input type="text" name="password">
                    </div>
                    
                    <input type="checkbox" name="" id="">
                    <label for="">Relembrar me</label>

                    
                </fieldset>

                <div class="button">
                    
                    <button type="submit" class="signin">
                        Registrar
                    </button>

                </div>

                <a href="#"> <h6>Esqueci minha senha</h6> </a>

            
            </form>

            <content>
                <img src="../img/img-1.jpeg" alt="">
                                  
            </content>
        

            
        </div>
        
    </body>
</html>