/********  GLOBAL**********/

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9E9EB;
    height: 100%;
}

.title {
    padding-top: 10vmin;
    color: #252525 ;
    text-align: center;
}

/********  CABEÇALHO **********/

header {
    background-color: #ff2258;
    display: flex;
    padding: 3vmin 10vmin;
}

.logo h2 {
    color: white;

}

nav {
    margin-left: 40vmin;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 2vmin;
}

nav li a {
    justify-content: end;
    color: white;
    text-decoration: none;
    padding:3vmin 2vmin;
    font-size: 19px;
}

nav li:nth-child(6) a {
    background: #fff;
    color: #ff2258;
    padding: 2vmin;
    margin-left: 10vmin;
    border-radius: 10px;
    font-weight: bold;
}

.redes-sociais ul{
    display: flex;
    margin-left: 5vmin;
}

.redes-sociais li {
    list-style: none;

    padding: 1vmin 1vmin;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
}

/********  CORPO  **********/

section.sec-1  {
    background-color: #ff2258;
    height: 600px;
}

section.sec-1 h2{
    padding-top: 25vmin;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

section.sec-1 button {
    margin-top: 5vmin;
    color: #ff2258;
    background-color: #fff;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin-left: 95vmin;
    font-size: 20px;
}

/********  SOBRE  **********/
section .about {
    display: flex;
    margin: 10vmin 20vmin;
}

section .about p {
    display: flex;
    width: 50%;
    margin: 10vmin 5vmin 5vmin 0;
}

/********  FAIXA  **********/
section.faixa {
    background: #ff2258;
    height: 200px;
    display: flex;
}

section .f-img img {
    margin-left: 20vmin;
    padding: 5vmin 15vmin 0 10vmin;
    width: 100px;
    height: 100px;
}

section .f-img h3 {
    margin-left: 15vmin;
    padding: 2vmin 10vmin;
    color: white;
}

/********  CONTATO  **********/
section .cont {
    color:  #252525;
   
}
.contact {
    display: flex;
    margin-left: 20vmin;
    padding: 5vmin 15vmin 0 15vmin;
}

.contact .form {
    width: 200px;
}

.contact .local {

}